<span class="minicart__overlay"></span>
  <div class="minicart__content">
    <div class="minicart__header h1-k">
      Panier
    </div>
    <button class="Modal__Close Modal__Close--outside" action-cart-close >{%- include 'icon' with 'close' -%}</button>
    {%- include 'minicart-body' -%}
    {%- include 'minicart-footer' -%}
  </div>
