<div class="h1-k PageHeader centered">
  {{ page.title }}
</div>
<div class="container" style="margin-bottom: 40px;">
  {{ page.content }}
</div>



<!-- Start Stockist.co widget -->
<div data-stockist-widget-tag="u6501">Loading store locator
from <a href="https://stockist.co">Stockist store locator</a>...</div>
<script>
  (function(s,t,o,c,k){c=s.createElement(t);c.src=o;c.async=1;
  k=s.getElementsByTagName(t)[0];k.parentNode.insertBefore(c,k);
  })(document,'script','//stockist.co/embed/v1/widget.min.js');
</script>
<!-- End Stockist.co widget -->
