<div class="">

</div>

{% schema %}
{
  "name": "Page Revendeur",
  "settings": [
  ],
  "blocks": [
    {
      "type": "content",
      "name": "Content",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "text",
          "info": "Nom du revendeur",
          "placeholder": "Boutique .."
        },
        {
           "type": "richtext",
           "id": "address",
           "label": "Adresse du revendeur"
        },
        {
          "type": "text",
          "id": "phone_number",
          "label": "text",
          "info": "Nom du revendeur",
          "placeholder": "Penelope Cruz"
        }
      ]
    }
  ]
}
{% endschema %}
